<h1>ようこそ</h1>
<p>あなたの音楽ライフをもっとたのしく</p>

<div class="center hero-unit">
  <h1>Welcome to the Sharing Instruments</h1>
  
   <%= link_to "Sign up now!", 'signup_path', class: "btn btn-large btn-primary" %>
</div>

  
  